.btn.btn-primary:hover {background-color: #017fb5;}
.btn:hover {background-color: #027db3;color: #fff;}
a {color: #3a7e8e;}
a:focus, a:hover {color: #3a7e8e;opacity: 0.7;text-decoration: underline;}

#header .header-menu.in {background: #3a7e8e;}
#header .navbar-default .navbar-nav a:hover, #header .navbar-default .navbar-nav>.active>a:hover, #header .navbar-default .navbar-nav>.active>a {color: #3a7e8e;}
#beite-home-slider .carousel-fade .carousel-inner .item:after, #portfolio .portfolio-gallery .portfolio-gallery-item:hover:after {background: rgba(40, 116, 134, 0.9);}
#beite-home-slider .caption .btn-new:hover, #beite-home-slider .left-control:hover, #beite-home-slider .right-control:hover {border-color: #3a7e8e;}
#footer {background-color: #3a7e8e;}